{% extends 'base.html' %}
{% block content %}

<header class='headbar'>
    <a href="{% url 'main' %}">
        <svg id="backsign" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8 15.0006C7.756 15.0006 7.512 14.9115 7.319 14.7325L0.319 8.23355C0.116 8.04355 0 7.77855 0 7.50055C0 7.22255 0.116 6.95755 0.319 6.76755L7.319 0.26755C7.724 -0.10845 8.356 -0.08545 8.732 0.31955C9.108 0.72455 9.085 1.35755 8.681 1.73355L2.47 7.50055L8.681 13.2685C9.085 13.6435 9.108 14.2755 8.732 14.6816C8.536 14.8935 8.269 15.0006 8 15.0006Z"
                fill="#FBC928" />
        </svg>
    </a>
    <p>Drinks Up!</p>
</header>
<main class="login-form">
    <h1 class="login-message">Don't have an account?</h1>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label for='username'>Username</label><br>
        <input type='text' name='username' placeholder="timsimmons"><br><br>
        <label for='password'>Password</label><br>
        <input type='password' name='password1' placeholder="********"><br>
        <p class="validation"><span>Your password must contain at least 8 characters.<br>Your password can’t be entirely numeric.</span></p>
        <label for='password'>Confirm Password</label><br>
        <input type='password' name='password2' placeholder="********"><br>
        <input type="submit" class="btn" value="Register">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</main>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

</body>
{% endblock %}

