{% extends 'base.html' %}
{% block content %}


<div class="container2">
  <main class="main-section2">

    <h2 id="mid_head2">Favorites</h2>

    {% for drink in drinks %} 
        <a href="{% url 'detail' drink.id %}">
            <div class="list-content2">

                <ul id="list2">
        
                    <img id="drinks-img" src="{{drink.url}}">
                    
                    <div class="list-3">
                        <p class="name1">{{ drink.name }}</p>
                        <p class="location1">{{ drink.location }}</p>
                    </div>
                    <br>
                    <div class="list-4">
                        <img id="star1" src="https://i.imgur.com/dGiT9bH.png">
                        <p class="rating1">{{ drink.rating }}</p>
                        <p class="price1">{{ drink.price }}</p>
                    </div>
        
                </ul>
        
            </div>
        </a>
    {% endfor %} 

  </main> 
</div>

{% endblock %}

