{% extends 'base.html' %}
{% block content %}
<h1>What are you drinking?</h1>

<img src="{{drink.url}}">

<form action="{% url 'update_drink' drink.id%}" method="post">
    {% csrf_token %}
    
    <label for="name">What did you drink?</label>
    <input name='name' placeholder="{{drink.name}}">
    <label for="location">Where'd you get it?</label>
    <input name='location' placeholder="{{drink.location}}">
    <label for="price">Price</label>
    <input name='price'>
    <label for="type">Type</label>
    <select id='type' name='type'>
        <option value=''></option>
        <option value='Cocktail'>Cocktail</option>
        <option value='Wine'>Wine</option>
        <option value='Beer'>Beer</option>
        <option value='Non-Alcoholic'>Non-Alcoholic</option>
    </select>
    <label for="rating">Rating</label>
    <p>Rating</p>
    <select id='rating' name='rating'>
        <option value=''></option>
        <option value='10'>10</option>
        <option value='9'>9</option>
        <option value='8'>8</option>
        <option value='7'>7</option>
        <option value='6'>6</option>
        <option value='5'>5</option>
        <option value='4'>4</option>
        <option value='3'>3</option>
        <option value='2'>2</option>
        <option value='1'>1</option>
    </select>
    <label for="description">Description</label>
    <textarea name="description" rows="3" cols="30"></textarea>
    <a href="{% url 'home' %}">Back</a>
    <input type="submit" value="Save" class="btn">
</form>

<script>
    var selectEl = document.getElementById('type');
    M.FormSelect.init(selectEl);
    var selectEl2 = document.getElementById('rating');
    M.FormSelect.init(selectEl2);
</script>

{% endblock %}